/*
Author Name: A.K. M. NAZMUL ISLAM
URL: https://nazmulislamredoy.wordpress.com/
Version: 1.0
*/

.body_bg{
    background-color: #E8E8E8;
    color: #0070FF;
}

.layout_bg{
    background-color: lightgrey;
    padding: 25px;
    border-radius: 5px;
}

.heading_text{
    color: #556B2F;
}

.top_padding{
    padding-top: 20px;
}
.bottom_padding{
    padding-bottom: 20px;
}
.custom_btn{
    color: #6F4E37!important;
    font-weight: bold!important;
    background-color: orange!important;
}


